body {
  font-family: 'Arial', sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
  background-color: #F8C6D8;
  text-align: center;
}

h1 {
  color: #ff69b4;
  font-size: 100px;
  font-family: 'Playball', cursive;
}

nav {
  background-color: #ff69b4;
  padding: 10px 0;
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: inline-block;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-family: 'Playball', cursive;
  font-size: 50px;
}

section {
  margin: 20px;
}

.resume h2, .aboutme h2, .faith h2 {
  color: #ff69b4;
  font-family: 'Playball', cursive;
}

.resume p {
  font-size: 16px;
}

.aboutme img, .faith img {
  width: 200px;
  height: auto;
}
