body {
  font-family: 'Arial', sans-serif; 
  color: #333;
  margin: 0;
  padding: 0;
  background-color: #F8C6D8; 
}

.playball-regular {
  font-family: "Playball", cursive;
  font-weight: 400;
  font-style: normal;
}

h1, h2 {
  font-family: 'Playball', cursive;
}

h1 {
  text-align: center;
  color: #ff69b4; 
  font-size: 40px;
}

nav {
  float: left;
  width: 20%;
  text-align: center;
  background-color: #ff69b4; 
  padding: 10px 0;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-family: 'Playball', cursive;
  font-size: 20px;
}

nav, nav ul {
  font-family: 'Playball', cursive;
}

section {
  position: relative;
  margin-left: 22%;
  margin: 20px;
  border: 2px solid #ff69b4; 
}

section img {
  float: right;
  margin-left: 20px;
  display: block;
  width: 200px;
  height: auto;
  border: 2px solid #ff69b4; 
}

.resume h2 {
  color: #ff69b4; 
}

.resume p {
  font-size: 16px;
}

.aboutme h2, .faith h2 {
  color: #ff69b4;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #ff69b4;
  text-align: center;
  padding: 10px 0;
  color: #fff;
}
